# UppASD Tools: Read Output Files

You just finished your UppASD simulations. All you inputs and outputs are stored in a work directory.

Here, we show how can you quickly analyze what do you have inside and how to read the results of your simulation into pandas DataFrames.
This is done using `UppOut` class, which can be instantiated using the directory path.

In [1]:
import pandas as pd

from pathlib import Path
from uppasd_tools import UppOut

## Instantiate UppOut object

We shall start with [bcc Fe data](data/bccFe) example.

In [2]:
# Path to the folder with UPPASD output files
path = Path('../data/bccFe/')

In UppASD, output files from different simulations can be distinguish using a `SIMID` -- simulation id of 8 characters. All the output file names take a form `prefix.SIMID.out`. 

If your folder contains just outputs of one simulations (all the files shares the same `SIMID`), you can instantiate `UppOut` object just using the path to the folder.

In [3]:
# Using directory without specifying simid
try:
    uppout = UppOut(path)
except FileNotFoundError as e:
    print(e)

In case the outputfile in your folder have different `SIMID`s, the `UppOut` constructor raises and error.

In [4]:
# Using directory without specifying simid
try:
    uppout1 = UppOut(Path('./multiple_simids/'))
except ValueError as e:
    print(e)

Multiple simid values detected in output files: simid001, simid002
 Please specify a simid to use.

If this is your case, you can instantiate `UppOut` object also with desired `SIMID`.

In [5]:
# Using directory with specifying simid
try:
    uppout1 = UppOut(Path('./multiple_simids/'), simid='simid001')
except FileNotFoundError as e:
    print(e)

If you use `SIMID`, which does not exist in the folder, it raises and error.

In [6]:
# Using directory with unexisting simid
try:
    uppout1 = UppOut(Path('./multiple_simids/'), simid='simid003')
except FileNotFoundError as e:
    print(e)

No output files found for simid "simid003" in "multiple_simids".

Finally, if you specify `SIMID`, which is not 8-characters string, it will raise an error.

In [7]:
# Using directory with unexisting simid
try:
    uppout1 = UppOut(Path('./multiple_simids/'), simid='simid1')
except ValueError as e:
    print(e)

simid must be a string with 8 characters.

## Print metadata

Once having correctly initialized `UppOut` object, you can review some basic metadata related to your simulation.

In [8]:
try:
    print(uppout.summary())
except NameError:
    print("UppOut object not defined yet")

Output directory: ../data/bccFe
Simulation ID: bcc_Fe_T
Available output files: ['averages', 'coord', 'cumulants', 'mcinitial', 'restart', 'stdenergy', 'struct', 'totenergy']
---
Number of atoms in the unit cell: 2
Number of atom types: 1
Total number of atoms in the supercell: 432
Number of ensembles in the simulation: 5
xrange: (0.0, 5.5)
yrange: (0.0, 5.5)
zrange: (0.0, 5.5)

## Read UppASD output files

Finally, we can load UppASD files as pandas DataFrames for further analysis.

For more deatail on the UppASD output files read [UppASD manual](https://uppasd.github.io/UppASD-manual/).

### Averages: `averages.simid.out`

In [9]:
df_averages = uppout.read_averages()
print(f"Number of rows: {len(df_averages)}")
df_averages.head()

Number of rows: 60

   iter        Mx        My        Mz         M    M_stdv
0     0 -0.591915 -0.682280 -0.627866  1.787289  0.024160
1    50 -0.597586 -0.747775 -0.662284  1.776960  0.035393
2   100 -0.628658 -0.766624 -0.665343  1.797547  0.016860
3   150 -0.568795 -0.694188 -0.650557  1.777481  0.017139
4   200 -0.664245 -0.596703 -0.665641  1.769438  0.031074

### Cumulants: `cumulants.simid.out`

In [10]:
df_cumulants = uppout.read_cumulants()
print(f"Number of rows: {len(df_cumulants)}")
df_cumulants.head()

Number of rows: 6

,iter,M,M2,M4,Binder,chi,Cv,E,E_exch,E_lsf
0,1,1.752215,3.071892,9.456582,0.665958,0.000637,0.332006,-8.975622,-8.975622,0.0
1,11,1.782405,3.178006,10.112613,0.666241,0.000405,1.254580,-8.981199,-8.981199,0.0
2,21,1.783250,3.181088,10.133299,0.666206,0.000432,1.288904,-8.982132,-8.982132,0.0
3,31,1.776995,3.159000,9.995378,0.666129,0.000502,1.371102,-8.983950,-8.983950,0.0
4,41,1.769091,3.130929,9.818189,0.666141,0.000485,1.376672,-8.956699,-8.956699,0.0

### Energy: `totenergy.simid.out` and `stdenergy.simid.out`

In [11]:
df_energy = uppout.read_energy()
print(f"Number of rows: {len(df_energy)}")
df_energy.head()

Number of rows: 60

,iter,tot,exch,aniso,DM,PD,BiqDM,BQ,dip,Zeeman,...,DM_std,PD_std,BiqDM_std,BQ_std,dip_std,Zeeman_std,LSF_std,chir_std,ring_std,sa_std
0,0,-9.008268,-9.008268,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,50,-9.058987,-9.058987,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100,-9.008145,-9.008145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,150,-8.958591,-8.958591,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,200,-8.968604,-8.968604,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Atomic positions: `coord.simid.out`

In [12]:
df_coord = uppout.read_coord()
print(f"Number of rows: {len(df_coord)}")
df_coord.head()

Number of rows: 432

   at_num    x    y    z  at_type  at_num_cell
0       1  0.0  0.0  0.0        1            1
1       2  0.5  0.5  0.5        1            2
2       3  1.0  0.0  0.0        1            1
3       4  1.5  0.5  0.5        1            2
4       5  2.0  0.0  0.0        1            1

### Final magnetic configuration(s): `restart.simid.out`

In [13]:
df_restart = uppout.read_restart()
print(f"Number of rows: {len(df_restart)}")
df_restart.head()

Number of rows: 2160

   ens_num  at_num   mom        mx        my        mz
0        1       1  2.23  0.677363 -0.154821  0.719173
1        1       2  2.23  0.671802  0.159407  0.723375
2        1       3  2.23  0.926713  0.000926  0.375769
3        1       4  2.23  0.909527  0.137189  0.392351
4        1       5  2.23  0.968911 -0.008771 -0.247254

## Magnetic configurations

UppASD is able to simulate more independent ensambles in one simulation. This in `restart.simid.out` file you have stored more magnetic configurations. 
Each configuration has its unique `ens_num` index.

UppASD tools provide a method, which splits the configurations into separate pandas DataFrames. Moreover, it links magnetic moments with related atomic positions, which simplifies their visualization.

In [14]:
final_configs = uppout.final_configs()
print(f"Number of final configurations (simulated ensembes): {len(final_configs)}")
print("---")

# Print final configuration
print("First final configuration:")
final_configs[0]

Number of final configurations (simulated ensembes): 5
---
First final configuration:

,at_num,mom,mx,my,mz,x,y,z,at_type,at_num_cell
0,1,2.23,0.677363,-0.154821,0.719173,0.0,0.0,0.0,1,1
1,2,2.23,0.671802,0.159407,0.723375,0.5,0.5,0.5,1,2
2,3,2.23,0.926713,0.000926,0.375769,1.0,0.0,0.0,1,1
3,4,2.23,0.909527,0.137189,0.392351,1.5,0.5,0.5,1,2
4,5,2.23,0.968911,-0.008771,-0.247254,2.0,0.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...
427,428,2.23,-0.144144,-0.211298,0.966735,3.5,5.5,5.5,1,2
428,429,2.23,-0.172405,-0.428887,0.886754,4.0,5.0,5.0,1,1
429,430,2.23,0.301349,-0.234206,0.924303,4.5,5.5,5.5,1,2
430,431,2.23,0.762531,-0.439831,0.474441,5.0,5.0,5.0,1,1
431,432,2.23,0.654302,0.354254,0.668127,5.5,5.5,5.5,1,2